#container{
    height: 100%;
}
#container h3{
    width: 100%;
    border: 1px gray solid;
    color: lightblue;
    background: black;
    text-align: center;
    margin: 0px;
}
#containerBody{
    height: 412px;
    width: 1200px;
    border: 1px gray solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    background-color: cornsilk;
    margin: auto;
}
.myTable{
    width: 370px;
    margin-left: 10px;
    float: left;
}
#urlForm{
    border: 1px gray solid;
    padding: 5px;
    width: 310px;
    padding-bottom: 0px;
}
#urlForm button{
    width: 100px;
    position: relative;
    bottom: 20px;
}
#urlForm{
    float: left;
}
.gritter-close{
    display: none;
    margin-left: 250px;
    content: "\f00d";
}
.gritter-top{
    background: none !important;}
.gritter-item{
    background: none !important;}
.gritter-bottom{
    background: none !important;}

#web-analyzer-html-info {
    height: 70px;
    border: 1px gray solid;
    margin-left: 350px;
    padding: 5px;
    width: 640px;
    overflow-y: scroll;
}
#video-rental-customers-transactions-table{
    width: 800px;
}
.ui-dialog{
    position: absolute;
}
button{
    display: inline-block;
    padding: 6px 12px;
    margin: 5px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#restartDatabase{
    margin: 10px;
    margin-left: 80px;
}
.video-rental-customers-table-row:hover{
    cursor: hand;
}
.ui-dialog-content{
    padding: 20px;
}
.ui-widget-header {
    padding: 10px !important;
    font-weight: bolder;
    color:#953b39;
}
.ui-dialog-content label {
    font-weight: bolder;
}
.ui-dialog-titlebar-close{
    display: none;
}
